@page
@model AntColonyClient.Pages.ClientPages.AddNewTaskModel
@{
    ViewData["Title"] = "Add Task";
}

<div class="text-center">
    <h1 class="display-4">Новая задача</h1>
    <div class="div-form-create">
        <div class="text-end">
            <button type="button" class="btn-close" aria-label="Закрыть" onclick="window.location.href='/Index'"></button>
        </div>
        
        <form method="post" class="form-create">
            <div class="row g-2 align-items-center">
                <div class="col-auto">
                    <label for="nameNewTask" class="col-form-label">Название:</label>
                </div>
                <div class="col-auto">
                    <input type="text" id="nameNewTask" class="form-control" aria-describedby="nameNewTask">
                </div>
            </div>
            <div class="row g-2 div-marg">
                <div class="col-auto">
                    <label for="methAddParams" class="col-form-label">Способ ввода параметов:</label>
                </div>
                <div class="col-auto text-start">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioMethAdd" id="radioManual" checked>
                        <label class="form-check-label " for="radioManual">Ручной ввод</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioMethAdd" id="radioFile">
                        <label class="form-check-label" for="radioFile">
                            Ввод через файл
                        </label>
                    </div>
                </div>
            </div>
            <hr />
            <button type="submit" class="btn btn-form btn-create">Создать</button>
        </form>
    </div>
</div>