@page
@model AntColonyClient.Pages.ClientPages.AddNewTaskModel
@{
    ViewData["Title"] = "Add new task";
}

<div class="text-center">
    <h1 class="pageHeader-1">Новая задача</h1>
    <div class="div-form-create">
        <div class="text-end">
            <button type="button" class="btn-close" aria-label="Закрыть" onclick="window.location.href='/ClientPages/UserTasks'"></button>
        </div>

        <form method="post" class="form-create">
            <input asp-for="UserTask.Create_Data" type="hidden" value="@(DateTime.Now.ToString())">
            <div class="row g-2 align-items-center">
                <div class="col-auto">
                    <label asp-for="UserTask.Name" class="col-form-label">Название:</label>
                </div>
                <div class="col-auto">
                    <input asp-for="UserTask.Name" type="text" id="nameNewTask" class="form-control" aria-describedby="nameNewTask">
                </div>
            </div>
            <div class="text-start errMass">
                <span asp-validation-for="UserTask.Name"></span>
            </div>

            <div class="row g-2 div-marg">
                <div class="col-auto ">
                    <label for="methAddParams" class="col-form-label">Способ ввода параметов:</label>
                </div>
                <div class="col-auto text-start">


                    <select asp-for="UserTask.InputMethod" asp-items="Html.GetEnumSelectList<Enum_InputMethods>()">
                        <option selected="selected" value="">Выбирете способ ввода данных</option>
                    </select>
                </div>
            </div>
            <div class="text-start errMass">
                <span asp-validation-for="UserTask.InputMethod"></span>
            </div>
            <hr />
            <button type="submit" class="btn btn-form btn-create">Создать</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

