@page "{id}"
@model AntColonyClient.Pages.ClientPages.ParamDetailModel
@{
    ViewData["Title"] = "Param details";
}

<div class="text-center">
    <h1 class="display-4">Значения параметра №@(Model.taskParam.NumParam)</h1>
    <div class="div-block-detail">
        <div class="text-end">
            <button type="button" class="btn-close" aria-label="Закрыть" onclick="window.location.href='@Url.Page("/ClientPages/TaskDetails", new {id=Model.taskParam.IdTask})'"></button>
        </div>
        <div class="text-start">
            <h5 class="h-details">Тип параметра: @(Model.taskParam.TypeParam)</h5>
            <h5 class="h-details">Значения параметра:</h5>
            <ul>
                @foreach(var elemValue in Model.paramValues){
                    <li>@(elemValue.ValueParam)</li>
                }
            </ul>
        </div>
        <hr />
        <div class="text-center">
            <button class="btn-href" data-bs-toggle="modal" data-bs-target="#AddValueParamModal">Добавить значение</button>
        </div>
        
    </div>

    @*Модальное окно для добавления значения параметра*@
    <div class="modal fade" id="AddValueParamModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <form method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" asp-for="newParamValue.IdParam" value="@(Model.taskParam.Id)">
                        @*Отображение ввода значения для разных типов параметров*@
                        @if (Model.taskParam.TypeParam == Enum_TypesParams.Double)
                        {
                            <label asp-for="newParamValue.ValueParam" class="col-form-label">Введите числовое значение параметра:</label>
                            <input asp-for="newParamValue.ValueParam" type="text" id="newNumValueParam" class="form-control" aria-describedby="newNumValueParam">
                        }
                        else if (Model.taskParam.TypeParam == Enum_TypesParams.String) {
                            <label asp-for="newParamValue.ValueParam" class="col-form-label">Введите строковое значение параметра:</label>
                            <input asp-for="newParamValue.ValueParam" type="text" id="newStrValueParam" class="form-control" aria-describedby="newStrValueParam">
                        }
                        else if (Model.taskParam.TypeParam == Enum_TypesParams.Bool) {
                            <label asp-for="newParamValue.ValueParam" class="col-form-label">Выбирите значение параметра:</label>
                            <br />
                            <input asp-for="newParamValue.ValueParam" type="radio" value="true" name="vboolParam" id="trueValue" />
                            <label asp-for="newParamValue.ValueParam"> True </label>
                            <br />
                            <input asp-for="newParamValue.ValueParam" type="radio" value="false" name="vboolParam" id="falseValue" />
                            <label asp-for="newParamValue.ValueParam"> False </label>
                        }else{
                            <p>Нельзя добавить значение параметра данного типа</p>
                        }

                    </div>
                    <hr />
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-form btn-create btn-href">Добавить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
