@page
@model AntColonyClient.Pages.ClientPages.ResultsOfWorkModel
@{
    ViewData["Title"] = "Result Files";
}

<div class="text-center">
    <h1 class="pageHeader-1">Результаты расчетов задачи</h1>
    <div>
    </div>
</div>
