@page
@model AntColonyClient.Pages.ClientPages.TaskDetailsModel
@{
    ViewData["Title"] = "Task details";
}

<div class ="text-center">
    <h1 class="display-4">Детали задачи:</h1>
    <div class="div-block-detail">
        <div class="text-end">
            <button type="button" class="btn-close" aria-label="Закрыть" onclick="window.location.href='/Index'"></button>
        </div>
        <div class="text-start">
            <h5 class="h-details">Способ ввода данных: </h5>
        </div>

        @*Отображение карточек спараметрами*@
        <div>
        </div>

        @*Отображение файла с исходными данными*@
        <div>

        </div>
    </div>

</div>
