@page "{id}"
@using AntColonyClient.Models
@model AntColonyClient.Pages.ClientPages.TaskDetailsModel
@{
    ViewData["Title"] = "Task details";
}

<div class="text-center">
    <h1 class="display-4">Детали задачи: @(Model.userTask.Name)</h1>
    <div class="div-block-detail">
        <div class="text-end">
            <button type="button" class="btn-icon" aria-label="Изменить" onclick="window.location.href='/ClientPages/Edit'">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
            </button>
            <button type="button" class="btn-close" aria-label="Закрыть" onclick="window.location.href='/ClientPages/UserTasks'"></button>
        </div>

        @if (Model.userTask.InputMethod == Enum_InputMethods.Manual)
        {
            @*Отображение карточек спараметрами*@
            <div class="text-start">
                <h5 class="h-details">Параметры: </h5>

            </div>
        }
        @if (Model.userTask.InputMethod == Enum_InputMethods.From_File)
        {
            @*Отображение файла с исходными данными*@
            <div class="text-start">
                <h5 class="h-details">Файл с данными: </h5>
            </div>
        }
        <hr />
        <div class="text-center">
            @if (Model.userTask.InputMethod == Enum_InputMethods.Manual)
            {
                <button class="btn-href" data-bs-toggle="modal" data-bs-target="#AddTaskParamModal">Добавить параметр</button>

                @*Модальное окно для добавления параметра*@
                <div class="modal fade" id="AddTaskParamModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                    <form method="post">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">                                   
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" asp-for="TaskParam.IdTask" value="Model.userTask.Id">

                                    <div class="row g-2 align-items-center">
                                        <div class="col-auto">
                                            <label asp-for="TaskParam.NumParam" class="col-form-label">Номер параметра:</label>
                                        </div>
                                        <div class="col-auto">
                                            <input asp-for="TaskParam.NumParam" type="text" id="numNewParam" class="form-control" aria-describedby="numNewParam">
                                        </div>
                                    </div>
                                    <div class="text-start errMass">
                                        <span asp-validation-for="TaskParam.NumParam"></span>
                                    </div>

                                    <div class="row g-2 div-marg">
                                        <div class="col-auto ">
                                            <label for="typeAddParams" class="col-form-label">Способ ввода параметов:</label>
                                        </div>
                                        <div class="col-auto text-start">


                                            <select asp-for="TaskParam.TypeParam" asp-items="Html.GetEnumSelectList<Enum_TypesParams>()">
                                                <option selected="selected" value="">Выбирете тип параметра</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="text-start errMass">
                                        <span asp-validation-for="TaskParam.TypeParam"></span>
                                    </div>
                                </div>                               
                                <hr />
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-form btn-create btn-href">Создать</button>                                  
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            }
            @if (Model.userTask.InputMethod == Enum_InputMethods.From_File)
            {
                <button class="btn-href">Добавить файл</button>
            }
            <a class="btn-href">Запустить</a>
        </div>
    </div>

</div>
