@page
@model AntColonyWeb.Pages.InputPages.RegistrationPageModel
@{
    ViewData["Title"] = "Registration";
}

<div class="text-center">
    <h1 class="display-4">Пожалуйста войдите в систему</h1>
</div>
