html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

input {
    border-radius: 5%;
}

p {
    margin: 0%;
}

.butAdd {
   /* width: 20%;*/
    border-style: solid;
    border-color: darkgray;
    border-radius: 20px;
    border-width: 1px;
    color: black;
    padding: 0.5% 1% 0.5% 1%;
    /*margin: 2% 1% 1% 1%;*/
    /*cursor: pointer;*/
    text-decoration: none;
}

.inputParamDiv {
    display: inline;
}

.strInputForm {
    display: none;
    margin-left: 2%;
}

.formDataAline {
    /*text-align: center !important;
    padding-left: 15%;*/
}

.cursorSvg:active, .cursorSvg:hover {
    cursor: pointer;
}