@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
    --bg-color: 248 246 245 /*#FBF0F0*/;
    --card-bg-color-light: #ffffff;
    --btn-bg-color: #22331D;
    --text-color: #22331D;
    --tekt-color-light: #ffffff;
    --card_border_color: #F5F5F5;
    --hr-color: #B8B0B0;
    --br-color: #7C7575;
    --shadow_color: #bdbdbd;
    --btn-border-color: #7C7575;
    --hover-color: #F5F5F5;
}
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: rgba(var(--bg-color));
    color: var(--text-color);
    margin-bottom: 60px;
    margin-top: 3.5rem !important;
}

.logo {
    font-weight: 600;
    margin-right: 5%;
}

hr {
    margin-top: 4%;
    margin-bottom: 2%;
    border: none;
    border-top: 0.05rem solid var(--hr-color);
    box-shadow: 0 0.1rem 0.1rem -0.1rem var(--shadow_color) inset;
}

input {
    padding: 0.5rem !important;
    font-weight: 300 !important;
    color: var(--text-color) !important;
    background-color: var(--card-bg-color-light) !important;
    /* background-clip: padding-box;*/
    border: 2px solid var(--card_border_color) !important;
    border-radius: 0rem !important;
}

select {
    padding: 0.5rem;
    border: 2px solid var(--card_border_color);
    border-radius: 0rem;
}

.pageHeader-1 {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
}

h6 {
    font-weight: 200;
}
p {
    font-weight:200;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bg-color),var(--bs-bg-opacity)) !important;
}

.block-btn-add {
    width: 3%;
    margin: 1%
}

.btn-addNew:active,
.btn-addNew:hover,
.btn-addNew {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: var(--btn-bg-color);
    text-align: center;
    margin: 4% 2% 1% 2%;
    text-decoration: none;
}

.divPos {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 10%;
}

.div-form-create {
    width: 50%;
    display: inline-block;
    margin-top: 3%;
    padding: 1% 1% 1% 1%;
    background-color: var(--card-bg-color-light);
    /*border-style: solid;
    border-color: var(--card_border_color);
    border-radius: 30px;
    border-width: 0.1em;*/
}

.form-create {
    padding: 0% 3% 0% 3%;
}

.div-marg {
    margin-top: 2%;
}

.btn-create {
    color: var(--tekt-color-light);
    background-color: var(--btn-bg-color);
    border-color: var(--btn-border-color);
    border-width: 0.1em;
    /*border-radius: 30px;*/
}

.div-block-detail {
    display: inline-block;
    width: 90%;
    margin-top: 1%;
    padding: 1% 1% 1% 1%;
    background-color: var(--card-bg-color-light);
    /*border-style: solid;
    border-color: var(--card_border_color);
    border-width: 0.1em;*/
}

.h-details {
    font-weight: 400;
    line-height: 1.2;
}

.card-body {
    display: inline-block;
    width: 70%;
    margin-top: 1%;
    padding: 0.7% 1% 0.7% 1%;
    background-color: var(--card-bg-color-light);
    /*border-style: solid;
    border-color: var(--card_border_color);
    border-radius: 20px;
    border-width: 0.1em;*/
}

.card-link {
    margin: 0% 2% 0% 2%;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 200;
    text-decoration: none;
}

    .card-link:hover {
        color: lightslategray;
        cursor: pointer;
    }


.btn-href {
    display: inline-block !important;
    width: auto !important;
    padding: 0.5% 1.5% !important;
    text-decoration: none !important;
    color: var(--tekt-color-light) !important;
    background-color: var(--btn-bg-color) !important;
    border-style: none !important;
    /* border-style: solid;
    border-color: var(--btn-border-color);
    
    border-width: 0.1em;
    border-radius: 30px;*/
    font-weight: 500 !important;
}

    .btn-href:hover {
        color: var(--hover-color);
        cursor: pointer;
    }

#img_notFount {
    width: 60%;
    height: 10%
}

.btn-icon {
    box-sizing: content-box;
    padding: .25em .25em;
    color: var(--text-color);
    border: 0;
    border-radius: .25rem;
    opacity: .5;
    background-color:rgba(256,256,256,0);
}

.errMass {
    color:indianred;
    font-size: 1em;
}

.btn-pos-left {
    float: right;
}

.Param_Card {
    box-sizing: border-box;
    width: 20%;
    margin: 1%;

    border-style: solid;
    border-color: var(--card_border_color);
    border-width: 2px;
    
}

.br-color {
    background-color: var(--br-color) !important;
}
