html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

hr {
    margin-top: 4%;
    margin-bottom: 2%;
    border: none;
    border-top: 0.05em solid #e8e6e6;
    box-shadow: 0 0.1em 0.1em -0.1em #bdbdbd inset;
}

.btn-addNew:active,
.btn-addNew:hover,
.btn-addNew {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: darkgray;
    border-radius: 50%;
    cursor: pointer;
    color: darkgray;
    font-size: 2rem;
    text-align: center;
    box-shadow: 0 3px 20px rgba(0,0,0,.25);
    margin: 4% 2% 1% 2%;
    text-decoration: none;
}

.divPos {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 10%;
}

.div-form-create {
    width: 50%;
    display: inline-block;
    margin-top: 3%;
    padding: 1% 1% 1% 1%;
    border-style: solid;
    border-color: darkgray;
    border-radius: 30px;
    border-width: 0.1em;
}

.form-create {
    padding: 0% 3% 0% 3%;
}

.div-marg {
    margin-top: 2%;
}

.btn-create {
    color: #000;
    background-color: #e8e6e6;
    border-color: #dedede;
    border-width: 0.1em;
    border-radius: 30px;
}

.div-block-detail {
    display: inline-block;
    width: 90%;
    margin-top: 1%;
    padding: 1% 1% 1% 1%;

    border-style: solid;
    border-color: darkgray;
    border-radius: 20px;
    border-width: 0.1em;
}

.h-details { 
    font-weight: 300;
    line-height: 1.2;
}