@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Задачи</h1>
    
    <div>
        @*<a asp-page="/ClientPages/TaskDetails"> TaskDetails </a>*@
        <a asp-page="/ClientPages/UserTasks"> UserTasks </a>
    </div>
</div>
