@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Задачи</h1>
    <div class="text-end divPos">
        <a asp-page="/ClientPages/AddNewTask" class="btn-addNew"> + </a>
    </div>
    <div>
        
    </div>
</div>
