@page
@model AntColonyClient.Pages.NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}

<div class = "text-center">
    <h1 class="display-4">404</h1>
    <h1 class="display-4">Not Found</h1>
    <img src="~/img/Ant.png" id="img_notFount"/>
</div>