@page
@model AntColonyWeb.Pages.InputFileModel
@{
}

<div class="text-center">
    <h1 class="display-4">Ввод данных из файла</h1>
    <lable>Выберите файл</lable>
    <br />
    <input type="file" name="dataFile" />
</div>
